.statusButtons{
    position: absolute;
    bottom: 3rem;
    display: inline;
    left: 50%;
    transform: translate(-50%);
  }
  
  
  #statusOne{
    width: 6rem;
    height: 6rem;
    font-size: 20px;
    border: none;
    background-color: #4545b6;
    border:none;
    box-shadow:
    0 0 0 5px #4545b669,
    0 0 0 10px #4545b623;
    /* box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15); */
    
  }

  
  #statusTwo{
    width: 6rem;
    height: 6rem;
    background-color: hsl(189, 75%, 49%);
    border: none;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    font-size: 17px;
    
  
  }
  
  #statusThree{
    width: 6rem;
    height: 6rem;
    font-size: 17px;
    background-color: rgb(85, 209, 85);
    border: none ;
    box-shadow: 0px 1px 1px 1px rgba(148, 141, 141, 0.15);
  }
  
  
  #paw1{
    position: absolute ;
    font-size: 17px;
  
    left: 50%;
    transform: translate(-50%);
    top: 10px;
  }
  
  #paw2{
    position: absolute ;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
  }

  #cross{
    position: relative;
    font-size: 25px;
    color: black;
    bottom: -3rem ;
    }

  #paw3{
    position: absolute ;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
  }
  
  #part1{
    position: absolute ;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
    
  }
  
  #part2 {
    position: absolute ;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
  }
  
  
  #part3{
    position: relative ;
    top: -2px;
    
  }
  