body{
    background-color: rgba(48, 48, 48, 0.438);
}

.login-form {
    max-width: 300px;
    position: relative;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }

  
  .ant-form {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      /* top: 30%; */
  }

  .divForm {
      position: absolute;
      width: 340px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 40vh;
      background-color: rgba(0, 0, 0, 0.61);
  }