@import '~antd/dist/antd.css';
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
  }

/* #parkLayout{
    background-color: black
} */

.ant-layout-content {
    display: block;
    /* background: rgba(16, 142, 233, 1); */
    color: #fff;
  }
  #info{
      background-color: black;
      height: 12rem;
      width: 100vw;
  }
  #inside {
      position: relative;
      width: 100vw;
      height: 10rem;
      background-color: yellow;
  }
  
  #dogs{
    width: 100vw;
    position: relative;
    max-height: 9rem;
    overflow: hidden;
  }
  
  #inPark{
    display: inline-flex;
    text-align: center;
    color: black;
    position: relative;
  }
  #pic{
    height: 65px;
    width: 65px;
    margin: 15px;
    border-radius: 50%;
  }
  #spans{
    display: inline-block;
    color: black;
    position: relative;
    top: 4px
  }
  #atThePark{
    padding: 10px;
  }
  #onTheWay{
    padding: 10px;
  }
  #name{
    position: relative;
    bottom: 10px
  }
  
  #amenities{
    position:relative;
    color:black;
    width: 100vw;
    height: 20vh;
    padding: 20px;
    background-color: white;
  }


  .Amenity{
    display: inline-block;
    width: 140px;
    text-align: center;
    height: 50px;
    background-color: rgba(5, 101, 190, 0.726);
    border-radius: 15px;
    margin: 10px;
    padding: 3px;
    color: white;
    font-size: 18px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
  }

  .amenities-container{
    margin:10px;
    text-align: center;
  }

  /* .ant-carousel .slick-slider { */
    /* overflow: hidden; */
    /* text-align: center; */
    /* height: 100%; */
    /* width: 100%; */
    /* line-height: 150px; */
  /* } */

  .parkPictures{
    max-height: 100%;
    overflow: hidden;
  }

  #img1{
    width: 100vw;
    /* height: 100%; */
    object-fit: cover;
    }

    .ant-carousel{
      position: relative;
      /* height: 100%; */
    }


   .slick-dots-bottom{
      position: relative;
      /* top: 50;ss/ */
      color: white;
    }