@import '~antd/dist/antd.css';


body {
    margin: 0;
    padding: 0;
  }


/* #parkLayout{
    background-color: black
} */

.ant-layout-content {
    display: block;
    background: rgba(16, 142, 233, 1);
    color: #fff;
    /* min-height: 120px; */
    /* line-height: 120px; */
  }

  #info{
      background-color: black;
      height: 12rem;
  }


  #inside {
      position: relative;
      width: 100vh;
      height: 10rem;
      background-color: yellow;
  }

  
  #dogs{
    width: 100vh;
    position: relative;
    height: rem;


  }

  #amenities{
    position: relative;

    width: 100vh;

      background-color: pink;
  }