@import '~antd/dist/antd.css';


body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }


.ant-layout-content {
    display: block;
    background: rgba(16, 142, 233, 1);
    color: #fff;
  }

  #info{
      background-color: black;
      height: 12rem;
      width: 100vw;
  }


  #inside {
      /* position: sticky; */
      width: 100vw;
      height: 10rem;
      background-color: yellow;
  }

  
  #dogs{
    width: 100vw;
    /* position: sticky; */
    max-height: 9rem;


  }

  #amenities{
    /* position: sticky; */
    width: 100vw;
    background-color: pink;
  }

  .parkPictures { 
      position: absolute;
      height: 20px;
  }