
.profileContent {
    /* background-color: black; */
    position: relative;
}

.dogNameDiv{
    display: flex;
    position: relative;
    display: flex;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    align-items: center;
    height: 3rem;


}

#inputDogName {
    position: relative;
    width: 12rem;
    top: 0;
    height: 3rem;
    font-size: 27px;
    color: rgb(44, 43, 43);
    border: none;
}

#btnDogName{
    position: absolute;
    width: 40px;
    right: 1rem;
    padding: 0;
    

    
}

#btnDogAge{
    position: absolute;
    width: 40px;
    right: 1rem;
    padding: 0;
}

#btnDogWeight{
    position: absolute;
    width: 40px;
    right: 1rem;
    padding: 0;
}


#genderText{
    position: relative;
    width: 12rem;
    top: 0;
    height: 3rem;
    font-size: 27px;
    color: rgb(44, 43, 43);
    border: none;
}

#gender_switch{
    position: absolute;
    right: 1rem;
}