/* @import '~antd/dist/antd.css'; */

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
      }

  #headerTitle {
      position: absolute;
      bottom: 2px;
      left: 1.2rem;
      color:  white;
      font-size: 30px;
      text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.562);
  }

  .ant-layout-header{
      position: relative;
    line-height: 16px;
    font-size: 20px;
    height: 23%;   
    padding: 0;
    width: 100%;
  }

  .profileContent{
      position: relative;
      top: 0;
      color: black;
      height: 100%;
      padding-top: 12px;
    background-image: linear-gradient(to bottom, #aeceea, #bfd8ee, #cfe2f2, #e0ecf6, #f1f6fa);

  }

  .dogLine{
      display: flex;
      position: relative;
      height: 5rem;
      padding-left: 15px;
      align-items: center;
 }

#dogName{
    margin-left: 15px;
    font-size: 20px;
}

.fa-edit{
    position: absolute;
    right: 10px;
    font-size: 18px;
}

.avatar{
    margin-left: 15px;
    /* width: 60px; */
}

#addDog{
    position: absolute;
    right: 2.5rem;
    width: 60px;
    float: right;
    height: 60px;
    background-color: rgb(252, 67, 67);
    border: none;
    bottom: 4.5rem;
    box-shadow: 1px 1px 4px gray;
    cursor: pointer;
    }

    .fa-user-plus{
        font-size: 20px; 
    }

  #divider{
        margin: 0;
        height: 1px;
        background-color: rgb(136, 204, 226);
    }

    #profileImgDiv{
        position: relative;;
        height: 100%;
        background-image: url('../../../src/pictures/parkVector.jpg');
        background-size: cover;
        background-size: 200px;
     }


     #dogListHeader{
        position: absolute;
        top: -2rem;
        left: 1.2rem;
        color:  white;
        font-size: 30px;
        text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.562);
     }

     #back-button{
        position: absolute;
        z-index: 1;
        top: 0;
        color: white;
        font-size: 40px;
        text-shadow: 3px 3px 3px #000000;
        margin-left: 10px;
        margin-top: 10px;
      }

      .fa-dog{
          position: relative;
          font-size: 25px;
          left: 2.5px;
      }

      .fa-plus{
          position: relative;
          /* right: 2.5px; */
          color: white;
          font-size: 15px;
          text-shadow: 1px 1px 3px black;
      }